
.content {
    display: grid;
    grid-gap: 1rem;
    padding: 5%;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "item1 item1 item2 item3"
      "item4 item5 item5 item3"
  }
p{
    margin-bottom: 0;
}

.contentItem {
    font-size: 2rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contentItem:nth-child(1) {
    grid-area: item1
}

.contentItem:nth-child(2){
    grid-area: item2
}

.contentItem:nth-child(3) {
    grid-area: item3
}

.contentItem:nth-child(4) {
    grid-area: item4
}
.contentItem:nth-child(5) {
    grid-area: item5
}

.contentItem:nth-child(1) .contentVertical,
.contentItem:nth-child(5) .contentVertical {
    display: flex;
    flex-direction: row;
}

.contentItem > img {
    max-width: 330px;
    max-height: 365px;
}
.contentVertical{
    position: absolute;
    display: flex;
    padding: 10% 6%;
    flex-direction: column;
    top:0;
    width: 100%;
    height: 100%;
    color:#FFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media (max-width:800px){
    .content{
    grid-template-columns: 1fr;
    grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5";
    }

    .contentItem:nth-child(1) .contentVertical,
    .contentItem:nth-child(5) .contentVertical {
        flex-direction: column;
    }
}